.Header {
    position: fixed;
    z-index: 999;
}

.Logo {
    align-items: center;
    box-sizing: border-box;
    color: rgb(81, 81, 132);
    display: flex;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    justify-content: center;
    line-height: 28px;
    outline-color: rgb(81, 81, 132);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    -moz-box-align: center;
    -moz-box-pack: center;
    --default-bg-color: #ffffff;
    --default-color: #fbfcfe;
    --defult-text-color: #000;
    --default-accept-color: #1e74fd;
    --default-cancel-color: #e50202;
    --default-warning-color: #f8fe4c;
    background-color: var(--default-color);
    color: var(--default-color);
    .Link {
        align-items: center;
        box-sizing: border-box;
        color: rgb(47, 233, 72);
        display: flex;
        font-family: Montserrat, sans-serif;
        font-size: 66px;
        font-weight: 400;
        line-height: 90px;
        margin-bottom: 0px;
        outline-color: rgb(30, 116, 253);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        text-decoration-color: rgb(30, 116, 253);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-wrap-mode: nowrap;
        white-space-collapse: collapse;
        width: 280px;

        .Icon {
            box-sizing: border-box;
            color: rgb(35, 236, 35);
            font-family: "feather";
            font-size: 36px;
            font-style: normal;
            font-variant-alternates: normal;
            font-variant-caps: normal;
            font-variant-east-asian: normal;
            font-variant-ligatures: normal;
            font-variant-numeric: normal;
            font-variant-position: normal;
            font-weight: 400;
            line-height: 36px;
            margin-left: 0px;
            margin-right: 8px;
            outline-color: rgb(16, 216, 118);
            outline-style: none;
            outline-width: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-align: left;
            text-transform: none;
            text-wrap-mode: nowrap;
            white-space-collapse: collapse;
        }
        .Name {
            box-sizing: border-box;
            color: rgb(16, 212, 52);
            display: block;
            font-family: "Fredoka One", cursive;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 90px;
            margin-bottom: 0px;
            outline-color: rgb(215, 219, 226);
            outline-style: none;
            outline-width: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-align: left;
            text-wrap-mode: nowrap;
            transition-behavior: normal;
            transition-delay: 0s;
            transition-duration: 0.4s;
            transition-property: all;
            transition-timing-function: ease;
            white-space-collapse: collapse;
        }
    }
}
.SearchHeader {
    box-sizing: border-box;
    color: rgb(81, 81, 132);
    float: left;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    outline-color: rgb(81, 81, 132);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

    .Search {
        box-sizing: border-box;
        color: rgb(81, 81, 132);
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 0px;
        outline-color: rgb(81, 81, 132);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        position: relative;
    }
    .Icon {
        box-sizing: border-box;
        color: rgb(206, 212, 218);
        font-family: "feather";
        font-size: 20px;
        font-weight: 400;
        left: 15px;
        line-height: 20px;
        outline-color: rgb(206, 212, 218);
        outline-style: none;
        position: absolute;
        text-transform: none;
        top: 14px;
    }
    .Input {
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-style: none;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-top-color: rgb(0, 0, 0);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 32px;
        outline-color: rgb(0, 0, 0);
        outline-style: dotted;
        outline-width: 0px;
        padding-bottom: 8px;
        padding-left: 48px;
        padding-right: 16px;
        padding-top: 8px;
        width: 350px;
        border: 1.9px solid #b4b4c6;

        &:focus-within {
            border: 1.9px solid #79797f;
        }
    }
    .ClearButton {
        box-sizing: border-box;
        color: rgb(16, 113, 209);
        font-family: "feather";
        font-size: 20px;
        font-weight: 400;
        right: 19px;
        line-height: 20px;
        outline-color: rgb(206, 212, 218);
        outline-style: none;
        position: absolute;
        text-transform: none;
        top: 14px;
    }
}
.CenterButton {
    .Icon {
        margin-left: 2rem;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid #10d876;
            color: rgb(35, 236, 35);
        }
    }
}
.MenuIcon {
    --max-width: 936px;
    margin-left: var(--max-width);
    position: fixed;
    display: inline;

    border-bottom-color: rgb(81, 81, 132);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(81, 81, 132);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(81, 81, 132);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(81, 81, 132);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: none;
    border-top-width: 0px;
    // box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 125px 0px;
    box-sizing: border-box;
    color: rgb(81, 81, 132);
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 1;
    outline-color: rgb(81, 81, 132);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    visibility: visible;
    z-index: 999;
    .Notification {
        margin-left: 200px;
        position: relative;
        text-align: center;
        .Icon {
            color: var(--default-accept-color);
        }
    }
    .Chat {
        padding-left: 30px;
        .Icon {
            color: var(--default-accept-color);
        }
    }
    .AuhtorSettings {
        padding-left: 40px;
    }
}

.DropdownNotification {
    // background-color: var(--default-color);
    // background-clip: padding-box;
    // border-bottom-color: rgb(81, 81, 132);
    // border-bottom-left-radius: 4.8px;
    // border-bottom-right-radius: 4.8px;
    // border-bottom-style: none;
    // border-image-repeat: stretch;
    // border-image-slice: 100%;
    // border-image-source: none;
    // border-image-width: 1;
    // border-left-color: rgb(81, 81, 132);
    // border-left-style: none;
    // border-right-color: rgb(81, 81, 132);
    // border-right-style: none;
    // border-right-width: 0px;
    // border-top-color: rgb(81, 81, 132);
    // border-top-left-radius: 4.8px;
    // border-top-right-radius: 4.8px;
    // border-top-style: none;
    // border-top-width: 0px;
    // box-shadow: rgba(0, 0, 0, 0.175) 0px 16px 48px 0px;
    // box-sizing: border-box;
    // color: rgb(81, 81, 132);
    // display: block;
    // font-family: Montserrat, sans-serif;
    // font-size: 16px;
    // font-weight: 400;
    // line-height: 28px;
    // list-style-image: none;
    // list-style-position: outside;
    // list-style-type: none;
    // min-width: 160px;
    // max-width: 330px;
    // outline-color: rgb(81, 81, 132);
    // outline-style: none;
    // padding: 20px;
    // text-align: left;
    // transform: matrix(1, 0, 0, 1, 1193.38, 75.0833);
    // inset: 0px auto auto 0px;
    // transform: translate(1193.38px, 75.0833px);
    // margin-top: 25px;
    // margin-right: 0px;
    // right: 0;
    // position: fixed;
    /* Style cho phần tử khi ở trạng thái bình thường */
    margin-top: 50px;
    background-color: var(--default-color);
    border-bottom-color: rgb(81, 81, 132);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(81, 81, 132);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(81, 81, 132);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(81, 81, 132);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 125px 0px;
    box-sizing: border-box;
    color: rgb(81, 81, 132);
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 1;
    outline-color: rgb(81, 81, 132);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 50.6333px;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    visibility: visible;
    width: 300px;
    z-index: 1;
    .Notification {
        box-sizing: border-box;
        color: rgb(17, 17, 17);
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 24px;
        margin-top: 0px;
        outline-color: rgb(17, 17, 17);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
    }
    .Card {
        background-clip: border-box;
        border-bottom-color: rgb(81, 81, 132);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(81, 81, 132);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(81, 81, 132);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(81, 81, 132);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(81, 81, 132);
        display: flex;
        flex-direction: column;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 16px;
        min-width: 0px;
        outline-color: rgb(81, 81, 132);
        outline-style: none;
        outline-width: 0px;
        overflow-wrap: break-word;
        padding-bottom: 0px;
        padding-left: 48px;
        padding-right: 0px;
        padding-top: 0px;
        position: relative;
        text-align: left;
        width: 256.583px;

        .Image {
            box-sizing: border-box;
            color: rgb(81, 81, 132);
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: 400;
            left: 0px;
            line-height: 28px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            outline-color: rgb(81, 81, 132);
            outline-style: none;
            outline-width: 0px;
            overflow-wrap: break-word;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            position: absolute;
            text-align: left;
            vertical-align: middle;
            width: 40px;
        }
        .Name {
            box-sizing: border-box;
            color: rgb(33, 37, 41);
            display: block;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.8px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            margin-bottom: 4px;
            margin-top: 0px;
            outline-color: rgb(33, 37, 41);
            outline-style: none;
            outline-width: 0px;
            overflow-wrap: break-word;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-align: left;
            .Span {
                box-sizing: border-box;
                color: rgb(206, 212, 218);
                float: right;
                font-family: Montserrat, sans-serif;
                font-size: 10px;
                font-weight: 600;
                line-height: 12px;
                list-style-image: none;
                list-style-position: outside;
                list-style-type: none;
                margin-top: 4px;
                outline-color: rgb(206, 212, 218);
                outline-style: none;
                outline-width: 0px;
                overflow-wrap: break-word;
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 0px;
                text-align: left;
            }
        }
        .Text {
            box-sizing: border-box;
            color: rgb(173, 181, 189);
            font-family: Montserrat, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 19.2px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            margin-bottom: 8px;
            margin-top: 0px;
            outline-color: rgb(173, 181, 189);
            outline-style: none;
            outline-width: 0px;
            overflow-wrap: break-word;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-align: left;
        }
    }
    // &:hover {
    //     display: none; /* Hiện ra khi hover */
    // }
}

.DropdownSettings {
    /* Style cho phần tử khi ở trạng thái bình thường */
    margin-top: 50px;
    background-color: var(--default-color);
    border-bottom-color: rgb(81, 81, 132);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(81, 81, 132);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(81, 81, 132);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(81, 81, 132);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 125px 0px;
    box-sizing: border-box;
    color: rgb(81, 81, 132);
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 1;
    outline-color: rgb(81, 81, 132);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 50.6333px;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    visibility: visible;
    width: 300px;
    z-index: 1;

    .H4 {
        box-sizing: border-box;
        color: rgb(17, 17, 17);
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 24px;
        margin-top: 0px;
        outline-color: rgb(17, 17, 17);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        visibility: visible;
    }
    .H6 {
        box-sizing: border-box;
        color: rgb(173, 181, 189);
        cursor: pointer;
        display: block;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 14.4px;
        margin-bottom: 16px;
        margin-top: 0px;
        outline-color: rgb(173, 181, 189);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        visibility: visible;
    }
    .ul_li_label {
        box-sizing: border-box;
        color: rgb(81, 81, 132);
        cursor: default;
        display: inline;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        outline-color: rgb(81, 81, 132);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        position: relative;
        text-align: left;
        visibility: visible;
    }

    .Card {
        background-clip: border-box;

        border-bottom-color: rgb(81, 81, 132);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(81, 81, 132);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(81, 81, 132);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(81, 81, 132);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(81, 81, 132);
        cursor: pointer;
        flex-direction: column;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 16px;
        min-width: 0px;
        outline-color: rgb(81, 81, 132);
        outline-style: none;
        outline-width: 0px;
        overflow-wrap: break-word;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        position: relative;
        text-align: left;
        visibility: visible;
        .H4 {
            box-sizing: border-box;
            color: rgb(17, 17, 17);
            cursor: pointer;
            display: inline;
            font-family: Montserrat, sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 14.4px;
            margin-bottom: 8px;
            margin-top: 0px;
            outline-color: rgb(17, 17, 17);
            outline-style: none;
            outline-width: 0px;
            overflow-wrap: break-word;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-align: left;
            visibility: visible;
        }
        .Div {
            box-sizing: border-box;
            color: rgb(81, 81, 132);
            cursor: pointer;
            display: block;
            float: right;
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 4px;
            outline-color: rgb(81, 81, 132);
            outline-style: none;
            outline-width: 0px;
            overflow-wrap: break-word;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-align: left;
            visibility: visible;
            .Label {
                align-self: center;
                box-sizing: border-box;
                color: rgb(81, 81, 132);
                cursor: pointer;
                display: inline-block;
                font-family: Montserrat, sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                outline-color: rgb(81, 81, 132);
                outline-style: none;
                outline-width: 0px;
                overflow-wrap: break-word;
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 0px;
                position: relative;
                text-align: left;
                user-select: none;
                vertical-align: middle;
                visibility: visible;
                .Span {
                    appearance: none;
                    background-attachment: scroll;
                    background-clip: border-box;

                    background-image: none;
                    background-origin: padding-box;
                    background-position-x: 0%;
                    background-position-y: 0%;
                    background-repeat: repeat;
                    background-size: auto;
                    border-bottom-color: rgb(81, 81, 132);
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-bottom-style: none;
                    border-bottom-width: 0px;
                    border-image-outset: 0;
                    border-image-repeat: stretch;
                    border-image-slice: 100%;
                    border-image-source: none;
                    border-image-width: 1;
                    border-left-color: rgb(81, 81, 132);
                    border-left-style: none;
                    border-left-width: 0px;
                    border-right-color: rgb(81, 81, 132);
                    border-right-style: none;
                    border-right-width: 0px;
                    border-top-color: rgb(81, 81, 132);
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border-top-style: none;
                    border-top-width: 0px;
                    box-sizing: border-box;
                    color: rgb(81, 81, 132);
                    cursor: pointer;
                    font-family: Montserrat, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    height: 22px;
                    line-height: 28px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 0px;
                    outline-color: rgb(81, 81, 132);
                    outline-style: none;
                    outline-width: 0px;
                    overflow-wrap: break-word;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-top: 0px;
                    position: relative;
                    text-align: left;
                    transition-behavior: normal;
                    transition-delay: 0s;
                    transition-duration: 0.3s;
                    transition-property: all;
                    transition-timing-function: ease;
                    visibility: visible;
                    width: 40px;
                    z-index: 0;
                }
            }
        }
    }

    // &:hover {
    //     display: none; /* Hiện ra khi hover */
    // }
}
.inactive {
    display: none;
}
.ListItem {
    display: flex;
    grid-row-start: span;
    align-items: center;
    padding: 5px 5px;
    height: 20px;
    width: 20px;
    color: #10d876;
    background-color: #10d876;
}
